<style type="text/css">

  /* ============ only desktop view ============ */
  @media all and (min-width: 992px) {
    .navbar .dropdown-menu-end{ right:0; left: auto;  }
    .navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
    .navbar .nav-item:hover .nav-link{ color: #000;  }
    .navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
    .navbar .dropdown-menu.fade-up{ top:180%;  }
    .navbar .nav-item:hover .dropdown-menu{ transition: .3s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); }
  }	
  /* ============ desktop view .end// ============ */
  
  </style>



<header >
  <div class="row">
    <div class="col-md-8 col-sm-8" style="background-image: linear-gradient(to right top, #3e41f6, #3737f4, #302cf1, #281fee, #200beb); padding: 18px;">
  
   
      
          
          <div class="row align-items-center">
            <div class="col-md-2 col-sm-2"></div>
          <div class="col-md-4 col-sm-4" style="color:#FFFFFF; padding-top: 3px;"><i class="fa fa-location-dot"></i>
          Welcome to John career consultants</div>
               
      
         
            <div class="col-md-3 col-sm-3" style="color:#FFFFFF;padding-top: 3px;"><i class="fa fa-envelope"></i> johnconsultantgmail.com</div>
            
            
            
            
            <div class="col-md-3 col-sm-3" style="color:#FFFFFF;padding-top: 3px;"><i class="fa fa-phone"></i> +9874596321</div>
            
            
        
           
</div>

  </div>
  <div class="col-md-4 col-sm-4" style="background-image: linear-gradient(to right top, #020216, #05031f, #080428, #090531, #0a0539); padding: 18px;">
    <div class="row align-items-center">
      <div class="col-md-3 col-sm-3"></div>
    <div class="col-md-1 col-sm-1" style="color:#FFFFFF;padding-top: 3px;"><i class="fa-brands fa-facebook-f"></i></div>
    <div class="col-md-1 col-sm-1 " style="color:#FFFFFF;padding-top: 3px;"><i class="fa-brands fa-instagram"></i></div>
    <div class="col-md-1 col-sm-1" style="color:#FFFFFF;padding-top: 3px;"><i class="fa-brands fa-youtube"></i></div>
    <div class="col-md-1 col-sm-1" style="color:#FFFFFF;padding-top: 3px;"><i class="fa-brands fa-twitter"></i></div>
    <div class="col-md-1 col-sm-1" style="color:#FFFFFF;padding-top: 3px;"><i class="fa-brands fa-linkedin-in"></i></div>
    </div>
  </div>
  </div>








  <div class="top_header">
    
    <div class="container">          
      
      <div class="top_header_inside">
        <div class="logo_area">
          <img src="assets/images/logo.png" style="height: 135px; width: 200px" />
         
        </div>

        <div class="right_area" >
          <h1 style="font-family:Verdana, Geneva, Tahoma, sans-serif; font-weight: bold; color:#250e6d; font-size: 36px;"><i><span style="color:steelblue;">JOHN CAREER</span> CONSULTANT</i></h1>
         </div> 
        
        <div class="right_area" >
          <div class="header_profile_secion" style="background-color:#250e6d; border-radius: 5%;">
            <a href="" onclick="event.preventDefault();" (click)="navigateToLogin()">
              <span style="font-size: 18px; color:white; padding: 15px; font-weight: bold; ">APPLY NOW</span></a>
            <!-- <a *ngIf="fullName != ''" href="" onclick="event.preventDefault();"><i class="fas fa-user"></i>
              {{fullName}}</a> -->
          </div>

          <!-- <div *ngIf="fullName != ''" class="header_cart_secion">
            <span class="position-absolute translate-middle badge rounded-pill bg-danger" *ngIf="noOfCartItem != 0 && noOfCartItem != ''" style="font-size: 8px; margin-top: -5px; margin-left: -2px;">
              {{noOfCartItem}}
              <span class="visually-hidden">unread messages</span>
            </span>
            <a href="" onclick="event.preventDefault();" (click)="addToCart()"><i class="fas fa-shopping-cart"></i> Cart</a>
          </div> -->
        </div>
      </div>
    </div>
  </div>

  <section class="menu_section" *ngIf="showAdmin == false">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa-solid fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="" onclick="event.preventDefault();"
                  [ngClass]="headerTab == 'Home' ? 'active' : ''" >Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="" onclick="event.preventDefault();"
                  [ngClass]="headerTab == 'About Us' ? 'active' : ''" >About Us</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" onclick="event.preventDefault();"
                  id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"
               [ngClass]="headerTab == 'Products' ? 'active' : ''">
                  Products
                </a>
                <ul class="dropdown-menu fade-up" aria-labelledby="navbarDropdownMenuLink" id="projectDropDown">
                  <li *ngFor="let category of productCategoryList">
                    <a href=""  class="dropdown-item"
                      data-bs-toggle="dropdown" aria-expanded="false">{{category.category_name}}</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="" onclick="event.preventDefault();"
                  [ngClass]="headerTab == 'Contact Us' ? 'active' : ''">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </section>
</header>

<div class="wrapper">




</div>

<div>
  <ngx-spinner type="pacman" bdColor="rgba(255,255,255,.8"
    template="<img src='assets/images/loader.gif' alt='loader' />">
  </ngx-spinner>
  <router-outlet></router-outlet>
</div>
&nbsp;
<footer>
  <div class="container"> 
    <div class="top_pannel">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="footer_box1">   
            <!-- <h2>Main Menu</h2> -->

            <!-- <ul>
              <li><a href="" onclick="event.preventDefault();" >Home</a></li>
              <li><a href="" onclick="event.preventDefault();" >About Us</a></li>

            
              <li><a href="" onclick="event.preventDefault();">Contact </a></li>
            </ul> -->
          </div>
        </div>


        <!-- <div class="col-lg-3 col-md-6">
          <div class="footer_box1">
            <h2>Terms & Policy</h2>

            <ul>
              <li><a target="_blank" [routerLink]="['/terms-conditions']">Terms and Conditions</a>
              </li>
              <li><a target="_blank" [routerLink]="['/privacy-policy']">Privacy Policy</a></li>
              <li><a target="_blank" [routerLink]="['/refund-policy']">Refund Policy</a></li>
            </ul>
          </div>
        </div> -->

        <!-- <div class="col-lg-3 col-md-6">
          <div class="footer_box1">
            <h2>Product</h2>

           
          </div>
        </div> -->

        <!-- <div class="col-lg-3 col-md-6">
          <div class="footer_box1">
            <h2>Contact</h2>

           
        
          </div>
        </div> -->

        <div class="col-12">
          <p class="copy">© 2024 JC</p>
        </div>
      </div>
    </div>
  </div>
</footer>



