@media screen and (min-width:1366px)

{
  .container {
    max-width: 1300px;
  }
}

@media screen and (max-width:1365px)

{

}

@media screen and (max-width:1200px)

{


}

@media screen and (max-width:1100px)
{

}

@media screen and (max-width:1050px)

{

}

@media screen and (max-width:992px)

{
  .top_header_inside
{
  flex-wrap: wrap;
  justify-content: center;
}
.top_header_inside .logo_area {
  width: 100%;
  text-align: center;
}
.top_header_inside .right_area {
  width: 100%;
  text-align: center;
}
.top_header_inside .mid_area {
  margin: 11px 0;
}
.banner_section .text_area p
{
  font-size: 20px;
}

.banner_section .text_area h2
{
  font-size: 30px;
}
.banner_section .img_area img {
  height: 350px;
}
.banner_section .text_area
{
  text-align: center;
}
.navbar-dark .navbar-nav .nav-link {
  padding: 8px 0;
}
.web_profile_left_pannel {
  width: 100%;
  order: 2;
  margin-top: 30px;
}
.web_profile_right_pannel {
width: 100%;
order: 1;
padding-left: 0;
margin-top: 30px;
}

.table_area .table_header {
display: none;
}
.table_area .table_body .mobile_heading {
display: block;
}
.table_area .table_body {
  flex-wrap: wrap;
  display: block;
  text-align: left;
}

.table_area .table_body > div {
  width: 100% !important;
  float: left;
  margin: 5px 0;
  display: flex;
  align-items: flex-start;
  }
  .body_left {
    margin-left: -270px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    bottom: 0;
}
.body_left.active {
    margin-left: 0;
}
.body_left_push i
{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.menu_open i
{
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
.support_box1 .top_pannel .right p {
    margin: 5px 12px 0 0;
}
.body_right {
    width: 100%;
  }
  .header_profile_secion .drop_area .nav-link {
    text-align: left;
  }
  .wishlist_body
  {
    order: 3;
  }
  .subpage_body_section {
    padding: 35px 0;
}
.header_inner .right .body_left_push
{
  display: block;
}
.header_inner .left .body_left_push
{
  display: none;
}

.body_right.active2 {
  width: 100%;
  overflow: hidden;
  height: 100vh;
}


.body_right.active2 .inside {
  pointer-events: none;
  opacity: 0.4;
}

.body_right.active2 .fa-bell
{
  pointer-events: none;
  opacity: 0.4;
}

.body_right.active2 .header_profile_img
{
  pointer-events: none;
  opacity: 0.4;
}

}

@media screen and (max-width:850px)

{

}

@media screen and (max-width:768px)

{
    section
    {
      padding: 30px 0;
    }
    footer
    {
      padding: 30px 0;
    } 
    .about_count
{
  width: 100%;
  margin-left: 0;
  margin-top: 25px;
}
.about_text_area
{
  margin-top: 30px;
}
.my_donation_heading h2
{
  font-size: 22px;
  margin-bottom: 15px;
}
.my_donation_heading {
  flex-wrap: wrap;
}
.product_details_heading h2
{
  font-size: 18px;
}
.order_details .mid_section {
  flex-wrap: wrap;
}
.order_details_mid_price_section {
  width: 100%;
  flex: 0 0 100%;
  margin-top: 15px;
}
.search_page_heading {
  margin-top: 30px;
}
.product_details_heading {
  margin-top: 30px;
}
.contact_right_area {
  margin-top: 30px;
}

}


@media screen and (max-width:600px)

{
.blue_but {
    font-size: 15px;
}
}

@media screen and (max-width:576px)

{
  .about_count
{
  flex-wrap: wrap;
}
  .about_count .box1 {
    width: 100%;
    text-align: center;
}
.about_count .box1:first-child
{
  border-right: none;
  border-bottom: 1px solid #fff;
}
}


@media screen and (max-width:480px)

{
  .user_order_box1
  {
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }
  .user_order_box1 .text_box1 ,  .user_order_box1 .text_box2 , .user_order_box1 .text_box3
{
  text-align: center;
  width: 100%;
  padding: 5px 0;
}
}

@media screen and (max-width:400px)

{
}                                         