


<script>
    window.addEventListener('load', function() {
      $('.carousel').carousel('next');
    });
</script>
<div>
    <img src="assets/images/digimage1.jpg" height="20%" width="100%">
  </div>

  <section class="new_arrivals_section">
    <div class="container"  >
        <div class="page_heading">
            <h2>Visas</h2>
            <a href=""  onclick="event.preventDefault();" ><span class="see_all">See More</span></a>
        </div>

        <div class="product_categori_slider_section">
            <div class="owl-carousel my-carousel2">
                <div class="my-carousel-item" >
                    <div class="product_box1">
                        <a href="javascript:void(0)" class="img_area">
                            <img src="assets/images/peopleimage.jpg" alt="" />
                            <!-- <span *ngIf="newArr.added_to_wishlist == false" (click)="wishlistAdds(newArr.id,i,'n')" class="product_bookmark"><i class="fas fa-heart"></i></span>
                            <span *ngIf="newArr.added_to_wishlist == true" (click)="wishlistAdds(newArr.id,i,'n')"class="product_bookmark bookmark_active"><i class="fas fa-heart"></i></span> -->
                        </a>
                        <div class="text_area">

                            <div class="name_review_section">
                                <h2>Loreum Ipsum</h2>
                                <p >
                                    <i class="fa-solid fa-star star_active" ></i>
                                    <i class="fa-solid fa-star star_active" ></i>
                                    <i class="fa-solid fa-star star_active" ></i>
                                    <i class="fa-solid fa-star star_active" ></i>
                                    <i class="fa-solid fa-star star_active" ></i>
                                    <i class="fa-solid fa-star" ></i>
                                    (5 Ratings)
                                  

                                </p>
                            
                            </div>

                            <div class="price_section">
                                <!-- <p><span class="final_price">K{{newArr.price}}</span>
                                    <span class="off_price me-1" *ngIf="newArr.discount != 0">K{{newArr.total_price}} </span>
                                    <span class="per" *ngIf="newArr.discount != 0">{{newArr.discount | number}}% off</span>
                                 </p> -->
                              
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="my-carousel-item" >
                    <div class="product_box1">
                        <a href="javascript:void(0)" class="img_area">
                            <img src="assets/images/profile_img1.jpg" alt="" />
                            <!-- <span *ngIf="newArr.added_to_wishlist == false" (click)="wishlistAdds(newArr.id,i,'n')" class="product_bookmark"><i class="fas fa-heart"></i></span>
                            <span *ngIf="newArr.added_to_wishlist == true" (click)="wishlistAdds(newArr.id,i,'n')"class="product_bookmark bookmark_active"><i class="fas fa-heart"></i></span> -->
                        </a>
                        <div class="text_area">

                            <div class="name_review_section">
                                <h2>Loreum Ipsum</h2>
                                <p >
                                    <i class="fa-solid fa-star star_active" ></i>
                                    <i class="fa-solid fa-star star_active" ></i>
                                    <i class="fa-solid fa-star star_active" ></i>
                                    <i class="fa-solid fa-star star_active" ></i>
                                    <i class="fa-solid fa-star star_active" ></i>
                                    <i class="fa-solid fa-star" ></i>
                                    (5 Ratings)
                                  

                                </p>
                          
                            </div>

                            <div class="price_section">
                                <!-- <p><span class="final_price">K{{newArr.price}}</span>
                                    <span class="off_price me-1" *ngIf="newArr.discount != 0">K{{newArr.total_price}} </span>
                                    <span class="per" *ngIf="newArr.discount != 0">{{newArr.discount | number}}% off</span>
                                 </p> -->
                              
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="my-carousel-item" >
                    <div class="product_box1">
                        <a href="javascript:void(0)" class="img_area">
                            <img src="assets/images/goodstudent.jpg" alt="" />
                            <!-- <span *ngIf="newArr.added_to_wishlist == false" (click)="wishlistAdds(newArr.id,i,'n')" class="product_bookmark"><i class="fas fa-heart"></i></span>
                            <span *ngIf="newArr.added_to_wishlist == true" (click)="wishlistAdds(newArr.id,i,'n')"class="product_bookmark bookmark_active"><i class="fas fa-heart"></i></span> -->
                        </a>
                        <div class="text_area">

                            <div class="name_review_section">
                                <h2>Loreum Ipsum</h2>
                                <p >
                                    <i class="fa-solid fa-star star_active" ></i>
                                    <i class="fa-solid fa-star" ></i>
                                    (2 Ratings)
                                  

                                </p>
                            </div>

                            <div class="price_section">
                                <!-- <p><span class="final_price">K{{newArr.price}}</span>
                                    <span class="off_price me-1" *ngIf="newArr.discount != 0">K{{newArr.total_price}} </span>
                                    <span class="per" *ngIf="newArr.discount != 0">{{newArr.discount | number}}% off</span>
                                 </p> -->
                              
                            </div>
                        </div>
                    </div>
                    
                </div>

                <div class="my-carousel-item" >
                    <div class="product_box1">
                        <a href="javascript:void(0)" class="img_area">
                            <img src="assets/images/girlstudent.jpg" alt="" />
                            <!-- <span *ngIf="newArr.added_to_wishlist == false" (click)="wishlistAdds(newArr.id,i,'n')" class="product_bookmark"><i class="fas fa-heart"></i></span>
                            <span *ngIf="newArr.added_to_wishlist == true" (click)="wishlistAdds(newArr.id,i,'n')"class="product_bookmark bookmark_active"><i class="fas fa-heart"></i></span> -->
                        </a>
                        <div class="text_area">

                            <div class="name_review_section">
                                <h2>Loreum Ipsum</h2>
                                <p >
                                    <i class="fa-solid fa-star star_active" ></i>
                                    <i class="fa-solid fa-star star_active" ></i>
                                    <i class="fa-solid fa-star star_active" ></i>
                                    <i class="fa-solid fa-star star_active" ></i>
                                    <i class="fa-solid fa-star star_active" ></i>
                                    <i class="fa-solid fa-star" ></i>
                                    (5 Ratings)
                                  

                                </p>
                            </div>

                            <div class="price_section">
                                <!-- <p><span class="final_price">K{{newArr.price}}</span>
                                    <span class="off_price me-1" *ngIf="newArr.discount != 0">K{{newArr.total_price}} </span>
                                    <span class="per" *ngIf="newArr.discount != 0">{{newArr.discount | number}}% off</span>
                                 </p> -->
                              
                            </div>
                        </div>
                    </div>
                    
                </div>

                <div class="my-carousel-item" >
                    <div class="product_box1">
                        <a href="javascript:void(0)" class="img_area">
                            <img src="assets/images/student.jpg" alt="" />
                            <!-- <span *ngIf="newArr.added_to_wishlist == false" (click)="wishlistAdds(newArr.id,i,'n')" class="product_bookmark"><i class="fas fa-heart"></i></span>
                            <span *ngIf="newArr.added_to_wishlist == true" (click)="wishlistAdds(newArr.id,i,'n')"class="product_bookmark bookmark_active"><i class="fas fa-heart"></i></span> -->
                        </a>
                        <div class="text_area">

                            <div class="name_review_section">
                                <h2>Loreum Ipsum</h2>
                                <p >
                                    <i class="fa-solid fa-star star_active" ></i>
                                    <i class="fa-solid fa-star" ></i>
                                    (2 Ratings)
                                  

                                </p>
                            </div>

                            <div class="price_section">
                                <!-- <p><span class="final_price">K{{newArr.price}}</span>
                                    <span class="off_price me-1" *ngIf="newArr.discount != 0">K{{newArr.total_price}} </span>
                                    <span class="per" *ngIf="newArr.discount != 0">{{newArr.discount | number}}% off</span>
                                 </p> -->
                              
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>