


<script>
    window.addEventListener('load', function() {
      $('.carousel').carousel('next');
    });
</script>
<div>
    <img src="assets/images/digimage1.jpg" height="20%" width="100%">
  </div>
<section class="new_arrivals_section">
    
    <div class="container" >

        
        

        <div class="page_heading">
            <h2>New Arrivals </h2>
            <a href="" ><span class="see_all">See More</span></a>
        </div>

        <div class="product_categori_slider_section">
            <div class="owl-carousel my-carousel2">
                <div class="my-carousel-item">
                    <div class="product_box1" >
                        <a href="javascript:void(0)" class="img_area">
                            <img src="" alt="" />
                            <!-- <span *ngIf="newArr.added_to_wishlist == false" (click)="wishlistAdds(newArr.id,i,'n')" class="product_bookmark"><i class="fas fa-heart"></i></span>
                            <span *ngIf="newArr.added_to_wishlist == true" (click)="wishlistAdds(newArr.id,i,'n')"class="product_bookmark bookmark_active"><i class="fas fa-heart"></i></span> -->
                        </a>
                        <div class="text_area">

                            <div class="name_review_section">
                                <h2>lknjklj</h2>
                                <p >
                                    <i class="fa-solid fa-star star_active"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <!-- ({{newArr.ratingCount}} Ratings) -->
                                  
                                </p>
                            </div>

                            <div class="price_section">
                                <p><span class="final_price">K9</span>
                                    <span class="off_price me-1" >K9 </span>
                                    <span class="per" >9% off</span>
                                 </p>
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="step_section">
    <div class="container">
        <div class="page_heading">
            <h2>Shopping Steps</h2>
        </div>

        <div class="step_boxes">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="step_box1">
                        <div class="img_area">
                            <img src="assets/images/step1.png" alt="" />
                        </div>

                        <div class="text_area">
                            <h3>Step 1</h3>
                            <h2>Filter & Discover</h2>
                            <p>It has survived not only five centuries, but also the leap</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="step_box1">
                        <div class="img_area">
                            <img src="assets/images/step2.png" alt="" />
                        </div>

                        <div class="text_area">
                            <h3>Step 2</h3>
                            <h2>Add to bag</h2>
                            <p>It has survived not only five centuries, but also the leap</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="step_box1">
                        <div class="img_area">
                            <img src="assets/images/step3.png" alt="" />
                        </div>

                        <div class="text_area">
                            <h3>Step 3</h3>
                            <h2>Fast shipping</h2>
                            <p>It has survived not only five centuries, but also the leap</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="step_box1">
                        <div class="img_area">
                            <img src="assets/images/step4.png" alt="" />
                        </div>

                        <div class="text_area">
                            <h3>Step 4</h3>
                            <h2>Enjoy the product</h2>
                            <p>It has survived not only five centuries, but also the leap</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

